In [ ]:
import pandas as pd

In [ ]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"]).squeeze()
google = pd.read_csv("google_stock_price.csv", usecols= ["Stock Price"]).squeeze("columns")

In [ ]:
pokemon.head(3)
pokemon.sort_values(ascending=False)
#google.sort_values().head(3)

In [ ]:
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon").squeeze()
pokemon.sort_index(ascending= False).head()

In [ ]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"]).squeeze()

In [ ]:
"Bulbasaur" in pokemon.values

In [ ]:
nba.values
nba.shape
nba.dtypes
nba.head()
nba.columns
nba.axes
nba.info()

In [ ]:
revenue = pd.read_csv("revenue.csv", index_col="Date")
revenue.sum()
revenue.sum(axis = "columns")
revenue.sum(axis = 1)

In [ ]:
nba.Name
nba["Name"].head()
nba["Salary"].sum()
nba[["Name", "Salary", "Team"]].head()

In [ ]:
nba["Sport"] = "Basketball"
nba.insert(loc= 3, column="Sport", value="Basketball")
nba.head()

In [ ]:
nba["Age in a Decade"] = nba["Age"] + 10
nba["Age in a Decade"] = nba["Age"].add(10)
nba["New Salary"] = nba["Salary"] - 5000000
nba.head()

In [ ]:
nba["Position"].value_counts(normalize=True) * 100

In [ ]:
nba.dropna(how = "all")
nba.dropna(subset=["College"])

In [ ]:
#nba["College"].fillna("Unknown", inplace=True)
nba["College"] = nba["College"].fillna("Unknown")
nba["Salary"] = nba["Salary"].fillna(0)
nba = nba.drop("college", axis = 1)
nba.tail()

In [ ]:
nba = pd.read_csv("nba.csv").dropna(how = "all")

In [ ]:
nba["Age"].hasnans
nba["Age"] = nba["Age"].astype(int)

In [ ]:
nba["Position"].nunique()
nba["Position"] = nba["Position"].astype("category")
nba.info()

In [ ]:
nba = pd.read_csv("nba.csv")

In [ ]:
nba.sort_values(by = "Name", ascending= False)
nba.sort_values("Salary", na_position= "first", ascending= False)

In [ ]:
nba.sort_values(["Team", "Name"], ascending = [False, True])

In [ ]:
nba["Salary"] = nba["Salary"].fillna(0).astype(int)
nba["Salary Rank"] = nba["Salary"].rank(ascending=False).astype(int)
nba.sort_values("Salary", ascending=False)

In [ ]:
df = pd.read_csv("employees.csv", parse_dates= ["Start Date", "Last Login Time"])
# df["Start Date"] = pd.to_datetime(df["Start Date"])
# df["Last Login Time"] = pd.to_datetime(df["Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype(bool)
df["Gender"] = df["Gender"].astype("category")
df.head(3)

In [ ]:
df[df["Gender"] == "Male"]
df[df["Team"] == "Finance"]

In [ ]:
df[df["Team"].isin(["Legal", "Sales", "Product"])]

In [ ]:
df["Team"].isnull()
df["Gender"].notnull()

In [ ]:
df[df["Salary"].between(60000, 70000)]
df[df["Bonus %"].between(2.0, 5.0)]

In [ ]:
df.sort_values("First Name", inplace= True)
df[~df["First Name"].duplicated(keep = "first")]

In [ ]:
len(df)
df.drop_duplicates(subset=["First Name"], keep= False)

In [113]:
df["Gender"].unique()
len(df["Team"].unique())
df["Team"].nunique(dropna= False)

11